[submodule "OpenCheetah"]
	path = OpenCheetah
	url = https://github.com/blossomin/OpenCheetah.git
[submodule "seal-cuda"]
	path = seal-cuda
	url = https://github.com/blossomin/seal-cuda-dev.git
[submodule "EzPC"]
	path = EzPC
	url = https://github.com/lightbulb128/EzPC.git

[submodule "troy-nova"]
	path = troy-nova
	url = https://github.com/lightbulb128/troy-nova.git